.chooseusTreatmentImg {
  width: 33.67vw;
}
.chooseusMarginTop {
}
.chooseReason {
  width: 32.6vw;
  height: 20.05vw;
  padding: 1.46vw 1.61vw 1.46vw 1.61vw;
  box-shadow: 0 0 0.29vw 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-radius: 1.09vw;
}
.chooseContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-right: 3.66vw;
}
.chooseusReasoning {
  font-size: 1.46vw;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #313131;
}
.chooseusReasoningDetail {
  font-size: 1.02vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #6c6c6c;
  margin-top: 0.73vw;
}
.chooseusBtns {
  width: 2.56vw;
  height: 2.56vw;
  box-shadow: 0 0 0.1.02vw 0 rgba(219, 4, 6, 0.5);
  background-color: #db0406;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: rotate(-90deg); */
  /* opacity: 1 !important; */
}
.chooseusReasonCard {
  display: flex;
  align-items: center;
  margin-bottom: 6.58vw;
  margin-left: 3.66vw;
}
.chooseBtnBackground {
  transform: rotate(90deg);
  /* padding-top: 5px; */
  z-index: 99999;
}
.rotateRightBtn {
  transform: rotate(90deg);
}
.rotateLeftBtn {
  transform: rotate(-90deg);
}
.chooseusHeadingTopMargin {
}
.paddingTopChooseus {
  margin-top: 2.19vw;
  padding-top: 3.66vw;
}
