.testimonialsHeading {
  font-family: "Poppins", sans-serif;
  font-size: 2.19vw;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #313131;
}
.testimonialsHeadingRed {
  color: #db0406;
}
.testimonialCustomerCount {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.7vw;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6c6c6c;
  margin-bottom: 1.46vw;
  margin-top: 0.73vw;
}
