.downloadBackground {
  width: 92%;
  height: 32.9vw;
  border-radius: 0.29vw;
  box-shadow: 0 0 0.43vw 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-top: 7.32vw !important;
  margin-bottom: 1.46vw !important;
  margin: 0 auto;
  display: block;
}
.downloadContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4.75vw;
  /* margin-top: 340px; */
}
.bannerImageWidth {
  width: 100%;
}
.downloadInfo {
  width: 50%;
}
.downloadImage {
  margin-top: 1vw;
  width: 35%;
  display: flex;
  justify-content: flex-end;
}
.expertLogo {
  width: 14.6vw;
}
.downloadSlogan {
  font-family: "Poppins", sans-serif;
  font-size: 2.19vw;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #444;
}
.downloadUsInfo {
  font-family: "Poppins", sans-serif;
  font-size: 2.92vw;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #444;
}
.downloadUsInfo span {
  font-family: "Poppins", sans-serif;
  font-size: 2.92vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #db0406;
}
.downloadBtnsContainer {
  display: flex;
}
.downloadAppBtn {
  width: 14.64vw;
  height: 4.39vw;
  border-radius: 0.58vw;
  box-shadow: 0 0 0.43vw 0 rgba(0, 0, 0, 0.16);
  background-color: #000;
  display: flex;
  align-items: center;
  margin-right: 1.46vw;
  cursor: pointer;
}
.downloadAppBtn div {
  margin-left: 1.09vw;
}
.getOn {
  font-size: 1.02vw;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
  line-height: 1;
}
.downloadPlatform {
  font-size: 1.24lvw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.appIconsBanner {
  width: 100%;
}
.iconBannerContainer {
  width: 2.41vw;
}
