.infoContainer {
  width: 100%;
  background-color: #f1f6fa;
  display: flex;
  justify-content: space-evenly;
  /* align-items: flex-start; */
  align-items: center;
  margin-top: 5.85vw;
  padding: 0 1.46vw;
}
.infoChild .iconImage {
  width: 5.85vw;
  height: 5.85vw;
  margin-right: 2.26vw;
}
.infoHeading {
  font-family: "Poppins", sans-serif;
  font-size: 1.17vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}
.infoTitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.02vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #6c6c6c;
  margin-top: 0.36vw;
}

.infoChild {
  width: 27%;
  display: flex;
  align-items: center;
  padding: 1.17vw 0;
}
.infoContainer hr {
  width: 0.07vw;
  height: 5.85vw;
  background-color: black;
  opacity: 0.1;
  margin: 0 1.09vw;
  /* margin-top: 32px; */
}
