.productBenifitsContainer {
  margin-top: 6.58vw;
}
.producBenefitsContainerSection {
  margin: 5.12vw 7.32vw;
}
.productReasonCard {
  display: flex;
  align-items: center;
}
.productBenefitsReason {
  width: 11.53vw;
  height: 2.19vw;
  background-color: #ff9800;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productBenefitsReason p {
  font-size: 1.17vw;
  letter-spacing: 0.03;
}
.productBenefitsReasonDetails {
  width: 11.5vw;
  font-size: 0.87vw;
  text-align: left;
}
.productBenefitsImage {
  width: 9.51vw;
  height: 9.51vw;
}
.benefitsProductDetailSection {
  margin-left: 0.51vw;
}
.productBenefitsLine {
  display: flex;
  justify-content: space-between;
}
.productBenefitsUserImageSection {
  width: 29.28vw;
  height: 29.28vw;
  border-radius: 50%;
  border: solid 0.07vw #ff9800;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productBenefitsUserImage {
  width: 19.76vw;
  height: 19.76vw;
}
.productBenefitsLineTop {
  margin-bottom: -0.73vw;
}
